/* ニュース一覧 */

.news {
  width: 1000px;
  height: auto;
  margin: 40px auto;
  font-family: 'Oswald', sans-serif;
}

.news-title {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  color: lightslategray;
}

.news-table {
  margin: 40px auto 0;
  width: 700px;
}

.news-table th {
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid lightslategray;
  padding-bottom: 16px;
  padding-top: 16px;
}

.left-th,
.left-td {
  width: 20%;
  text-align: center;
  border-bottom: 1px solid lightslategray;
  padding-bottom: 16px;
  padding-top: 16px;
}

.right-th,
.right-td {
  width: 80%;
  border-bottom: 1px solid lightslategray;
  padding: 16px 32px;
}

.right-td a {
  text-decoration: none;
  color: black;
}

.right-td a:hover {
  opacity: 0.6;
}



/* ニュース登録 */

#new_title {
  width: 400px;
  height: 24px;
  margin: 8px auto 16px;
  border: none;
  border-bottom: 1px solid lightslategray;
}

#new_content {
  width: 400px;
  height: 100px;
  margin: 8px auto 32px;
  border-bottom: 1px solid lightslategray;
}