body {
  padding-top: 40px;
}

header {
  width: 100%;
}

.header-top {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 0.6;
  width: 300px;
  margin: 0 auto;
}

h1 span {
  font-size: 15px;
}

.lists-right {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}

.lists-right li {
  list-style: none;
  margin-right: 8px;
}

.logout,
.login,
.sign-up {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  display: inline-block;
  width: 40px;
  text-align: center;
  padding: 4px 10px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.logout:hover,
.login:hover,
.sign-up:hover {
  opacity: 0.6;
}

.user-nickname {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid black;
  height: 18px;
  display: inline-block;
  padding: 6px 0 0;
  text-align: center;
}

.globalNavi {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}

.globalNavi li {
  display: inline-block;
  margin-right: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.globalNavi li:last-child {
  margin-right: 0;
}

.globalNavi li a {
  text-decoration: none;
  color: #000000;
}

.globalNavi li a:hover {
  opacity: 0.6;
}

.mainImage {
  width: 1000px;
  margin: 0 auto 48px;
}

.mainImage img {
  width: 100%;
  height: auto;
}

.hStyle {
  text-align: center;
  font-size: 11px;
  margin-bottom: 40px;
  line-height: 1.2;
}

.hStyle span {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  border-bottom: 2px solid #000000;
}

.hairStyleSection,
.newsSection,
.informationSection {
  width: 1000px;
  margin: 0 auto 48px;
}

/* 画像無限ループ */

.loop_wrap {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.loop_wrap ul {
  display: flex;
}

.loop_wrap img {
  width: auto;
  height: 100%;
}

.loop_wrap img:hover {
  opacity: 0.8;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop_wrap ul:first-child {
  animation: loop 50s -25s linear infinite;
}

.loop_wrap ul:last-child {
  animation: loop2 50s linear infinite;
}

.loop_wrap:hover ul {
  animation-play-state: paused;
}

/* 画像無限ループ */

.main-news {
  height: 150px;
  overflow: scroll;
}

.newsSection table {
  width: 100%;
  border-top: 1px solid #dddddd;
}

.newsSection th {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 15%;
}

.newsSection td {
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 85%;
}

.newsSection td a {
  text-decoration: none;
  color: black;
}

.newsSection td a:hover {
  opacity: 0.6;
}

.info-main {
  display: flex;
}

.left-information {
  width: 50%;
}

.left-information h3, p {
  font-size: 14px;;
  padding-bottom: 8px;
  padding-top: 16px;
  padding-left: 20px;
  width: 90%;
}

.info-title {
  border-bottom: 1px solid #dddddd;
}

.info-content {
  padding-bottom: 24px;
}

.right-information {
  width: 50%;
}

.right-information iframe {
  width: 100%;
  height: 350px;
}

/* フッター */

footer {
  background-color: #F4F5F7;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: lightslategray;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0 24px;
}

.footer-nav li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-nav a {
  text-decoration: none;
  color: #000000;
}

.footer-nav li:hover {
  opacity: 0.6;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.left-nav li {
  margin-left: 20px;
}

.right-nav li {
  margin-right: 20px;
}

.fa-brands {
  padding-right: 5px;
}
.copyright {
  font-size: 11px;
  padding-bottom: 40px;
  text-align: center;
}

/* フッター */